extends layout

block content
  h1 Git Practice
  p.lead A boilerplate for Node.js web applications. But I use it for practice my git skill
  hr
  .row
    .col-md-6
      h2 Introducing GitFlow
      p <a href="https://nvie.com/posts/a-successful-git-branching-model/">GitFlow</a> is a branching model for Git, created by Vincent Driessen. It has attracted a lot of attention because it is very well suited to collaboration and scaling the development team.
      p
        a.btn.btn-raised(href='https://datasift.github.io/gitflow/IntroducingGitFlow.html', role='button') View details »
    .col-md-6
      h2 git-tips
      p Most commonly used git tips and tricks.
      p
        a.btn.btn-raised(href='https://github.com/git-tips/tips', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »